<html>
   <head>
        <title>Mayank's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mayank's Blog</a></h1>
        </div>

        <div>
            <p>published: 11.03.2019, 21:42</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello everyone,I am Mayank Singh,currently pursuing B.Tech in Information Technology stream having 87% aggrigate marks till 5th semester.I have completed my Highschool and Intermideate from Uttar Pradesh Board with 90% and 86% respectively.</p>
        </div>

        <div>
            <p>published: 12.03.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello Everyone! So I was talking about myself,so my main interests are Programming and Quizzing.</p>
        </div>
    </body>
</html>
