<html>
   <head>
        <title>Mayank's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mayank's Blog</a></h1>
        </div>

       
        {% for post in posts %}
             <div>
                  <p>published: {{post.published_date }}</p>
                  <h2><a href="">{{ post.title }}</a></h2>
                  <p>{{ post.text|linebreaksbr }}</p>
             </div>
        {% endfor %}

        <div>
            <p>published: 12.03.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello Everyone! So I was talking about myself,so my main interests are Programming and Quizzing.In programming,right now I am exploring Backend Devlopement by doing project on Django,which is a Python based framework. In quizzing,well to be honest I am away for it for a quite some time now but I actively participate in half-yearly quizzes organised by my college's quizzing club,in which I came out as a Winner three times in row and apart from that I have represented my school and my state Uttar Pradesh in various National Level Quiz Comptitions.</p>
        </div>
    </body>
</html>
